<div class="search">
  <form #form="ngForm" (submit)="onSubmit">
      <input type="text" placeholder="Buscar cidade"
      name="city"
      [(ngModel)]="initialCityName">

  <span (click)="onSubmit()">
    <fa-icon
      animation="fade"
      style="--fa-animation-duration: 5s; cursor: pointer"
      size="lg"
      class="search-icon"
      [icon]="searchIcon"
    ></fa-icon>
  </span>
</form>
</div>
<app-weather-card *ngIf="weatherDatas" [weatherDatasInput]="weatherDatas"></app-weather-card>
