/* You can add global styles to this file, and also import other style files */
:root {
  --blue-1: #2242c2;
  --blue-2: #0368ec;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.277);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon {
  color: #ffffff;
}

.container {
  width: 500px;
  height: 80vh;
  background-color: var(--blue-2);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  margin-top: 3rem;
}

.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: var(--white);
  font-size: 4em;
  text-align: center;
  font-weight: 900;
}

.more-info-label {
  color: var(--white);
  font-size: 1.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.more-info-container {
  flex: 1;
  background-color: var(--shadow-dark);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label span {
  color: var(--white);
  font-size: 0.8em;
  margin-top: 0.4em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.search {
  margin-top: 2em;
  text-align: center;
}

.search input {
  background-color: var(--shadow-dark);
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  width: 70%;
}
.search-icon {
  margin-left: 1em;
  color:red
}
